/****** Wedding page CSS  ******/
/* Copyright 2020 Andrew Small */
/* IMPORTS */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dancingscript/v22/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7B1i0HTQ.ttf) format('truetype');
}
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v24/SlGDmQSNjdsmc35JDF1K5E55YMjF_7DPuGi-6_RUAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/yesevaone/v18/OpNJno4ck8vc-xYpwWWxpio.ttf) format('truetype');
}
@font-face {
  font-family: 'Parisienne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/parisienne/v12/E21i_d3kivvAkxhLEVZpQyhwCg.ttf) format('truetype');
}
/* VARIABLES */
/* Fonts */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
em {
  font-style: italic;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* clearfix */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
/******** MAIN STYLES ********/
body {
  background-color: #F9EFEF;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}
* {
  line-height: 1.2;
  box-sizing: border-box;
}
h1 {
  font-family: 'Yeseva One', cursive;
  color: #1f394a;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: 'EB Garamond', serif;
  color: #1f394a;
  font-weight: bold;
}
h2 {
  font-size: 1.5em;
}
h3.rec-category {
  font-size: 1.2em;
  padding: 17px;
}
a {
  color: #4f936c;
}
#head-top {
  font-size: 0.8em;
  width: 100%;
  position: static;
}
@media only screen and (max-width: 767.98px) {
  #head-top {
    display: none;
  }
}
#head-wrap {
  background-color: #ffffff;
  margin: 0;
  width: 100%;
  position: sticky;
  top: 0;
  color: #000000;
  z-index: 1000;
}
#wed-date {
  /*position:relative;
	top:20px;
	left:30px;*/
  float: left;
  margin: 20px 0 0 30px;
}
@media only screen and (max-width: 991.98px) {
  #wed-date {
    left: 65px;
  }
}
@media only screen and (max-width: 767.98px) {
  #wed-date {
    display: none;
  }
}
#wed-hash {
  /*position:fixed;
	top:20px;
	right:30px;*/
  clear: both;
  float: right;
  margin: -12px 30px 0 0;
}
@media only screen and (max-width: 767.98px) {
  #wed-hash {
    display: none;
  }
}
#head-mid {
  text-align: center;
  font-size: 2em;
  padding: 15px;
  padding-bottom: 8px;
  font-weight: 600;
  font-family: 'Dancing Script', cursive;
  margin: 0 auto;
  width: 100%;
}
#head-mid #logo-wrap {
  display: table;
  margin: 0 auto;
}
#head-mid #logo-wrap a {
  text-decoration: none;
  color: #1f394a;
  vertical-align: middle;
  display: table-cell;
}
#head-mid #logo-wrap img#logo-l {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
@media only screen and (max-width: 645px) {
  #head-mid #logo-wrap img {
    width: 140px;
  }
}
@media only screen and (max-width: 516px) {
  #head-mid #logo-wrap img {
    width: 100px;
  }
}
@media only screen and (max-width: 500px) {
  #head-mid #logo-wrap img {
    display: none;
  }
}
#head-bot {
  width: 100%;
  margin: 0 auto;
}
#navigation {
  text-align: center;
  padding: 10px 0;
  width: 100%;
  margin: 0 auto;
  display: block;
}
@media only screen and (max-width: 991.98px) {
  #navigation {
    display: none;
  }
}
@media only screen and (max-width: 767.98px) {
  #navigation {
    position: absolute;
    top: 60px;
    background-color: #ffffff;
  }
}
#navigation ul {
  padding-left: 0 !important;
}
#navigation ul li {
  float: left;
  padding-bottom: 0;
  list-style-type: none;
  text-align: center;
  width: 12.3%;
}
@media only screen and (max-width: 991.98px) {
  #navigation ul li.scroll-title {
    height: 0;
    display: none !important;
  }
}
@media only screen and (max-width: 767.98px) {
  #navigation ul li {
    float: none;
    padding-bottom: 15px;
    width: 100%;
  }
}
#navigation ul li.scroll-title a {
  font-family: 'Dancing Script', cursive !important;
}
#navigation ul li a {
  color: #072336;
  font-family: 'EB Garamond', serif;
  text-decoration: none;
  font-variant: small-caps;
  font-weight: 500;
  text-align: center;
  margin: auto 0;
  font-size: 1.25em;
}
@media only screen and (max-width: 767.98px) {
  #navigation ul li a {
    font-size: 1.4em;
    width: 100%;
  }
}
#navigation ul li a:hover {
  text-decoration: underline;
}
ul {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.mid-fix {
  margin-top: 10px;
}
#hero_img,
#hero_img img {
  width: 100%;
  max-width: 100vw;
  margin: -15px 0 10px 0;
  z-index: -1;
}
.divider {
  border-bottom: solid 1px #191919;
  width: 70%;
  margin: 0 auto;
}
main p {
  text-align: center;
}
footer {
  clear: both;
  background-color: #ffffff;
}
footer#short-foot {
  position: fixed;
  bottom: 0;
  width: 100%;
}
@media only screen and (max-width: 767.98px) {
  footer#short-foot {
    position: inherit;
  }
}
footer #footer_img {
  width: 100%;
  max-width: 100vw;
}
footer #copyright {
  padding: 20px;
  font-size: 0.8em;
}
@media only screen and (max-width: 767.98px) {
  footer #copyright {
    text-align: center;
  }
}
#page-header h1 {
  font-size: 1.9em;
  font-weight: 600;
}
strong {
  font-weight: 700;
}
p {
  margin-top: 11px;
}
article header h2 {
  font-size: 1.5em;
  margin: 25px 0 15px 0;
  text-align: center;
  font-weight: 700;
}
/* Hamburger Menu */
.icon {
  display: none;
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 30px;
  padding: 8px 15px;
  z-index: 2000;
}
.icon i {
  color: #072336;
}
@media only screen and (max-width: 991.98px) {
  .icon {
    display: inline-block;
  }
}
/******** HEADER SCROLL CHANGES ********/
html:not([data-scroll='0']) #head-wrap {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
.sticky-header #head-top,
.sticky-header #head-mid {
  display: none;
  height: 0;
}
@media only screen and (max-width: 991.98px) {
  .sticky-header #head-top #wed-date,
  .sticky-header #head-mid #wed-date,
  .sticky-header #head-top #wed-hash,
  .sticky-header #head-mid #wed-hash {
    display: none;
  }
}
@media only screen and (max-width: 991.98px) {
  .sticky-header #head-mid {
    width: 100%;
    text-align: center;
    display: inline-block;
  }
}
.sticky-header #head-bot {
  margin-top: 10px !important;
}
.scroll-title {
  width: 20% !important;
}
.scroll-title a {
  font-variant: normal !important;
  display: none;
  font-family: 'Dancing Script', cursive;
  color: #1f394a !important;
}
.sticky-header .scroll-title a {
  display: block;
  font-weight: 600 !important;
  font-size: 1.4em;
  margin-top: 8px;
}
.sticky-header .scroll-title a:hover {
  text-decoration: none;
}
.sticky-header #navigation ul {
  width: 92%;
  margin: 0 auto;
  padding: 0;
}
.sticky-header #navigation ul li {
  width: 9%;
}
@media only screen and (max-width: 767.98px) {
  .sticky-header #navigation ul li {
    width: 100%;
  }
}
/******** HOMEPAGE ********/
#wedding-details {
  width: 95%;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  padding: 70px;
}
@media only screen and (max-width: 767.98px) {
  #wedding-details {
    padding: 60px 10px;
  }
}
#det-hash,
#det-loc {
  padding: 30px;
  font-size: 1.2em;
}
#det-hash a,
#det-loc a {
  color: #000000;
  text-decoration: none;
}
#det-date {
  font-size: 2.5em;
}
#our-story {
  text-align: center;
  padding: 70px;
  width: 60%;
  margin: 0 auto;
}
@media only screen and (max-width: 991.98px) {
  #our-story {
    width: 70%;
    padding: 40px;
  }
}
@media only screen and (max-width: 991.98px) {
  #our-story {
    width: 95%;
    padding: 25px;
  }
}
#our-story h1 {
  font-size: 2em;
  margin: 20px 20px 30px 20px;
}
.event header {
  font-size: 1.5em;
  font-weight: 600;
  padding: 0;
}
.event .date {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 0.95em;
}
.event .story {
  padding-top: 15px;
}
#couple-names {
  font-size: 4em;
  margin: 0 auto;
  line-height: 1em;
  width: 100%;
  text-align: center;
  padding: 100px;
  font-family: 'Yeseva One', cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#couple-names span {
  text-transform: uppercase;
  font-size: 0.35em;
  line-height: 1em;
  display: block;
}
@media only screen and (max-width: 767.98px) {
  #couple-names {
    padding: 50px;
    font-size: 10vw;
  }
}
img#name-bkg {
  width: 650px;
  max-width: 95%;
}
/******** REGISTRY PAGE ********/
#registry {
  margin: 0 auto;
  text-align: center;
}
#registry img {
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.2), 0 6px 20px 1px rgba(0, 0, 0, 0.19);
  border: none;
  background-color: #f8f8f8;
  padding: 10px;
  margin: 20px 50px;
}
@media only screen and (max-width: 767.98px) {
  #registry img:nth-of-type(3) {
    margin-bottom: 80px;
  }
}
#registry a {
  border: none;
  text-decoration: none;
}
/******** WEDDING PARTY PAGE  ********/
#wedding-party {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
}
#wedding-party heading {
  font-weight: 700;
  font-size: 1.5em;
}
#wedding-party figcaption {
  font-variant: small-caps;
  font-size: 1.1em;
  font-weight: 100;
  margin-bottom: 12px;
}
#wedding-party figure {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 8px solid white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
  background-size: 350px;
  background-position: center;
  clear: left;
  float: left;
  margin: 10px 0;
}
@media only screen and (max-width: 767.98px) {
  #wedding-party figure {
    float: none;
    clear: none;
    margin: 0 auto;
  }
}
#wedding-party article {
  clear: both;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 90px;
  padding: 5px;
}
@media only screen and (max-width: 767.98px) {
  #wedding-party article {
    margin-top: 35px;
  }
}
#wedding-party p {
  /*font-style:italic;*/
  margin-top: 11px;
  /*&:before {
      content:'"';
      font-style:italic;
    }

    &:after {
      content:'"';
      font-style:italic;
    }*/
}
figure#carrie {
  background-image: url('../images/carrie.jpg');
}
figure#brittney {
  background-image: url('../images/brittney.jpg');
}
figure#shannon {
  background-image: url('../images/shannon.jpg');
}
figure#lyndsey {
  background-image: url('../images/lyndsey.jpg');
}
figure#becky {
  background-image: url('../images/becky.jpg');
}
figure#margaret {
  background-image: url('../images/margaret.jpg');
}
figure#hillary {
  background-image: url('../images/hillary.jpg');
}
figure#jen {
  background-image: url('../images/jen.jpg');
}
section.friend-bio {
  float: right;
  clear: right;
  width: 50%;
  height: 350px;
  padding: 10px;
  display: table;
}
@media only screen and (max-width: 767.98px) {
  section.friend-bio {
    float: none;
    clear: none;
    height: auto;
    margin: 0 auto;
    Width: 90%;
  }
}
.friend-bio div {
  display: table-cell;
  vertical-align: middle;
}
/******** TRAVEL PAGE ********/
#travel article,
#schedule article,
.card {
  margin: 40px auto;
  width: 90%;
  max-width: 850px;
  padding: 25px;
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.2), 0 6px 20px 1px rgba(0, 0, 0, 0.19);
  min-height: 125px;
  background-color: #ffffff;
}
#travel article p.signature,
#schedule article p.signature,
.card p.signature {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5em;
  font-weight: lighter;
  margin-top: 18px;
}
#gal-container {
  max-width: 1150px;
  padding: 10px;
}
#gal-container h1 {
  margin: 15px auto;
}
#travel article iframe,
#travel article img {
  margin-top: 30px;
  width: 100%;
}
summary {
  margin-bottom: 8px;
}
summary:active,
summary:focus,
details:active,
details:focus {
  outline: none;
}
details {
  margin-top: 15px;
}
details:first-of-type {
  margin-top: 0;
}
details .rec-deets {
  width: 90%;
  margin-left: 15px;
  padding: 15px;
  background-color: #EEEEEE;
  box-shadow: 3px 3px 5px grey;
  margin-bottom: 8px;
}
details .rec-deets img {
  width: 100%;
  max-width: 640px;
  margin: 10px auto 0 auto;
}
/******** SCHEDULE PAGE ********/
.event-time {
  font-size: 0.8em;
  font-weight: 800;
  margin-bottom: 12px;
}
.event-description {
  font-size: 1em;
  margin-bottom: 14px;
}
.event-location {
  font-size: 0.9em;
  font-weight: 600;
  margin-bottom: 8px;
}
/******** GALLERY PAGE ********/
#gal-container {
  text-align: center;
}
#gal-container img {
  border-radius: 20px;
  margin: 10px;
  transition: border-radius 2s, filter 1s;
}
#gal-container img:hover {
  border-radius: 0;
  filter: grayscale(90%);
}
/* Gallery Styles (adapted from W3Schools.com) */
.modal {
  display: none;
  position: fixed;
  z-index: 3000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.85);
}
/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}
/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
/* Hide the slides by default */
.myPhotos {
  display: none;
  text-align: center;
  background-color: transparent;
}
.myPhotos img {
  height: 500px;
  max-height: 90%;
  width: auto;
  margin: 0 auto;
}
@media only screen and (max-width: 991.98px) {
  .myPhotos img {
    height: auto;
    max-height: 90vh;
    max-width: 95vw;
  }
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* Caption text */
.caption-container {
  text-align: center;
  padding: 2px 16px;
  color: white;
}
.caption-container #caption {
  font-size: 1.1em;
  margin-top: 5px;
}
.name-container {
  position: relative;
  text-align: center;
}
/* Alerts */
/* The alert message box */
.alert {
  padding: 20px;
  background-color: #f44336;
  /* Red */
  color: white;
  margin-bottom: 15px;
  /* The close button */
}
@media only screen and (max-width: 991.98px) {
  .alert {
    padding-left: 60px;
  }
}
.alert a {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}
.alert .closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  /* When moving the mouse over the close button */
}
.alert .closebtn:hover {
  color: black;
}
/******** FAQs PAGE ********/
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-weight: 700;
  font-size: 1.1em;
}
.accordion:after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #ccc;
}
/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  /*max-height: 0;
  overflow:hidden;
  transition: max-height 0.2s ease-out;*/
}
.panel p {
  text-align: left;
  padding: 10px 5px 10px 5px;
  margin: 0;
}
.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}
/* Weddle Game */
#weddle {
  margin: 0;
  padding: 0;
  height: 100%;
  /*background-color: black;*/
}
#weddle #container {
  display: flex;
  /*background-color: black;*/
  height: 100%;
  align-items: center;
  flex-direction: column;
}
#weddle #container #game {
  width: 100%;
  max-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#weddle #container header {
  border-bottom: 1px solid rgb(58.58, 60);
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin: 0.4rem 0 0.4rem 0;
  color: white;
}
#weddle #container header h1 {
  font-size: 1em;
}
#weddle #container header #hl,
#weddle #container header #hr {
  width: 20%;
  margin-top: -10px;
}
#weddle #container header #hl button,
#weddle #container header #hr button {
  background-color: #1f394a;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
}
#weddle #container header #hc {
  width: 60%;
}
#weddle #container header #hr,
#weddle #container header #hc,
#weddle #container header #hl {
  float: left;
}
#weddle #board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}
#weddle #board-container #board {
  display: grid;
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}
#weddle #board-container #board.wd4 {
  grid-template-columns: repeat(4, 1fr);
}
#weddle #board-container #board.wd5 {
  grid-template-columns: repeat(5, 1fr);
}
#weddle #board-container #board.wd6 {
  grid-template-columns: repeat(6, 1fr);
}
#weddle #board-container #board.wd7 {
  grid-template-columns: repeat(7, 1fr);
}
#weddle #board-container #board.wd7 .square {
  min-width: 50px !important;
  min-height: 55px !important;
}
#weddle #board-container #board .square {
  border: 2px solid #1f394a;
  min-width: 60px;
  min-height: 60px;
  font-size: 50px;
  font-weight: bold;
  background-color: white;
  color: #1f394a;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
#weddle #keyboard-container {
  height: 200px;
  width: 100%;
  max-width: 450px;
}
#weddle #keyboard-container.game-over button {
  pointer-events: none;
}
#weddle #keyboard-container .keyboard-row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto 8px;
  touch-action: manipulation;
}
#weddle #keyboard-container .keyboard-row button {
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 0;
  height: 58px;
  cursor: pointer;
  background-color: #1f394a;
  color: white;
  flex-grow: 1;
  text-transform: uppercase;
  margin-right: 6px;
  border-radius: 4px;
  user-select: none;
}
#weddle #keyboard-container .keyboard-row button.wide-button {
  flex-grow: 1.5;
}
#weddle #keyboard-container .keyboard-row button.yellow {
  background-color: #f9dc6e;
  color: #1f394a;
}
#weddle #keyboard-container .keyboard-row button.green {
  background-color: #85f96e !important;
  color: #1f394a;
}
#weddle #keyboard-container .keyboard-row button.grey {
  background-color: #bfbfbf;
  color: #1f394a;
}
#weddle #keyboard-container .spacer-half {
  flex-grow: 0.5;
}
#weddle #messageBoxContainer {
  margin: 10px;
}
#weddle #messageBoxContainer .visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.25s linear;
  z-index: 1000;
}
#weddle #messageBoxContainer .hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
  z-index: 1000;
}
#weddle #messageBoxContainer #messageBox {
  background-color: #1f394a;
  color: white;
  border-radius: 5px;
  padding: 5px 15px;
  position: absolute;
  left: 25%;
  width: 50%;
  max-width: 500px;
  text-align: center;
}
#weddle #messageBoxContainer #winner,
#weddle #messageBoxContainer #loser {
  background-color: #1f394a;
  color: white;
  border-radius: 5px;
  padding: 25px 15px 15px 15px;
  position: absolute;
  left: 5%;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}
#weddle #messageBoxContainer #winner #shareBtn,
#weddle #messageBoxContainer #loser #shareBtn {
  margin: 10px;
  font-size: 1.25em;
  color: white;
  background-color: #1f394a;
  border: 1px solid white;
  border-radius: 6px;
  padding: 5px 10px;
}
#weddle #messageBoxContainer #winner #shareBtn:hover,
#weddle #messageBoxContainer #loser #shareBtn:hover,
#weddle #messageBoxContainer #winner #shareBtn:active,
#weddle #messageBoxContainer #loser #shareBtn:active {
  color: #1f394a;
  background-color: white;
}
#weddle #messageBoxContainer #winner #winnerClose,
#weddle #messageBoxContainer #loser #winnerClose,
#weddle #messageBoxContainer #winner #loserClose,
#weddle #messageBoxContainer #loser #loserClose {
  position: absolute;
  display: block;
  right: 9px;
  top: 5px;
  font-size: 1.3em;
}
#weddle #messageBoxContainer #winner h2,
#weddle #messageBoxContainer #loser h2 {
  color: white;
}
#weddle #messageBoxContainer #winner #winnerWord,
#weddle #messageBoxContainer #loser #winnerWord,
#weddle #messageBoxContainer #winner #loserWord,
#weddle #messageBoxContainer #loser #loserWord {
  display: block;
  color: #1f394a;
  width: fit-content;
  font-size: 2em;
  text-align: center;
  margin: 5px auto;
  text-transform: uppercase;
  padding: 5px;
  font-weight: 800;
  letter-spacing: 4px;
}
#weddle #messageBoxContainer #winner #winnerWord,
#weddle #messageBoxContainer #loser #winnerWord {
  background-color: #85f96e;
}
#weddle #messageBoxContainer #winner #loserWord,
#weddle #messageBoxContainer #loser #loserWord {
  background-color: #bfbfbf;
}
